@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

$darkblue: #232c5a;
$lightgrey: rgba(147, 129, 114, 1);

html, body {
	font-family: Avenir, 'Lato', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#hero {
	background: url('../images/background.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	height: 100vh;
}

.header {
	position: absolute;
	top: 35%;
	text-align: center;
	width: 100%;
	color: #fff;

	p {
		margin-top: -30px;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 0.3em;
		font-size: 12px;
	}
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 90px;
}

.content {
	text-align: center;
	margin: 0 auto;
}

.form {
	padding: 100px 0 40px 0;

	#inputfield {
		padding: 20px 40px;
		font-size: 14px;
		border-radius: 5px;
		border: 1px solid $darkblue;
	}
}

.map {
	height: 100vh;
	background: $darkblue;
	margin-top: 100px;
}

#sightlist {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	max-width: 500px;
}

#sightlist li {
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;

	a:link, :visited {
		text-decoration: none;
		color: #000;
	}

	&:hover {
		letter-spacing: 0.05em;
		cursor: pointer;
	}
}

.ifwo, .ifowbuilding {
	text-decoration: none;
	color: #717171;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px 80px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;

  p#sightabstract {
  	text-align: justify;
  	-webkit-hyphens: auto;
  	-moz-hyphens: auto;
  	-ms-hyphens: auto;
  	hyphens: auto;
  }
}
